# Telegraf
INFLUXDB_ACCESS_TOKEN_WRITE=<generate-via-the-influx-ui>
MQTT_TELEGRAF_PASSWORD=<password-as-defined-in-mosquitto.user>

# InfluxDB
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=home
DOCKER_INFLUXDB_INIT_PASSWORD=<password>
DOCKER_INFLUXDB_INIT_ORG=home
DOCKER_INFLUXDB_INIT_BUCKET=sensor-data

# Grafana
INFLUXDB_USERNAME=home
INFLUXDB_ACCESS_TOKEN_READ=<generate-via-the-influx-ui>
GF_SECURITY_ADMIN_PASSWORD=<password>
